# === NetBeans ===
nbproject/private/
build/
dist/
*.class
*.jar
*.form

# === Sistema ===
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp
*~

# === CVS/CSV/Properties si son temporales ===
*.orig
config.properties